/* .home-container .header-container  {
    display: block;
    position: relative;
    z-index: -1;
    gap: 1rem;
    padding: 0;
}

.home-container .header-image {
    width: 100%;
}

.home-container .header-info {
    position: absolute;
    top: 0;
    background-color: rgba(4, 3, 3, 0.183);
    margin: 50px 0;
    padding:  20px 0;
    width: 100%;
    color: white;
    text-align: center;
}

.home-container .header-image img {
    border-radius: 0px;
    margin-top: -150px;
    margin-left: 200px;
    height: auto;

    

} */

.home-container .header-info {
    /* max-width: 300px; */
    align-self: flex-start;
    margin: auto 0;
}

@media screen and (max-width: 809px) {
    .home-container .header-container {
        flex-direction: column;
        gap: 0;
        padding-top: 0;
    }
    .home-container .header-image {
        width: 100%;
    }
    .home-container .header-image img {
        height: auto;
    } 
    .home-container .header-info {
        max-width: 100%;
        margin-top: 10px;
        text-align: center;
        gap: 1rem;
    }
}
@media screen and (max-width: 495px) {
    .home-container .header-container {
        padding-top: 20px;
    }

}